<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mercadolibre Python Examples</title>
</head>
<body>
<h1>Welcome to Mercadolibre Python Examples</h1>
<h2>Login</h2>
{{ auth_url }}
<h2>Users & Apps</h2>
{% for user in users %}
<p> - {{ user }}</p>
{% endfor %}
<h2>Categories & Listings</h2>
{{ categories }}
<h2>Locations & Currencies</h2>
{{ locations }}
<h2>Items & Searches</h2>
<h2>Questions & Answers</h2>
<h2>Orders & Feedback</h2>
<h2>Metrics</h2>
<h2>Shipping</h2>


</body>
</html>

